PORT=4000
FRONTEND_URLS=http://localhost:3000
MONGODB_URI=mongodb+srv://felipecorreacamio_db_user:17BsGMggeZwtdUim@cluster0.92retae.mongodb.net/inmobiliaria_db?retryWrites=true&w=majority
# Poner aca la URI de la db
DNS_SERVERS=1.1.1.1,8.8.8.8
JWT_SECRET=